@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --custom-light-text: #16a34a;
  --custom-dark-text: #f97316;
  --cgpa-light-text: #0761d7;
  --light-logo: #d7a307;
  --dark-logo: #0761d7;
  --cgpa-dark-text: #93e0ee;
  --heading-bg-color: hsl(49, 57%, 52%);
  --heading-color: #ed4444;
}

.text-custom {
  @apply transition-colors font-[Nunito] drop-shadow-lg;
  background: linear-gradient(to right, #c084fc, #7a288a, #0761d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}
.secondary-text {
  @apply text-gray-700 dark:text-gray-300;
}

.primary-boxes {
  @apply bg-[#f9f9f9] dark:bg-gray-800 dark:border-gray-500  text-gray-700 dark:text-gray-300;
}

.semester-heading {
  @apply text-[var(--heading-color)] dark:text-[var(--heading-bg-color)] font-[Nunito] text-xl font-bold drop-shadow-lg;
}

.table-header {
  @apply drop-shadow-lg bg-[var(--heading-bg-color)] text-white  px-4 py-2 rounded-md;
}

.text-main {
  @apply relative  font-medium tracking-wide text-transparent transition-all duration-500
  bg-clip-text bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 drop-shadow-[0_2px_10px_rgba(56,189,248,0.6)];
}
.text-vibrant {
  @apply relative font-semibold tracking-wide text-transparent 
  bg-clip-text transition-all duration-700 
  bg-gradient-to-r from-[#1e2026] via-[#d3a410] to-[#414750] 
  drop-shadow-[0_2px_10px_rgba(211,165,16,0.4)];
  background-size: 200% auto;
  animation: shine-move 4s ease-in-out infinite;
}

@keyframes shine-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

